
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda</h2>
<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/web2/hakkimizda.css" rel="stylesheet" />
</head>
<body>
    <br />
    <div class="w3-content">
        <div class="w3-container" style="width:900px;">
            <div class="w3-display-container mySlides">
                <img src="~/web2/images/gezmek.jpg" style="width:100%">
            </div>
            <div class="w3-row w3-container" style="width:900px;">
                <div class="w3-center w3-padding-64">
                    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Ne Yapıyoruz?</span>
                </div>
                <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                    <img src="~/web2/images/gezi.jpg" style="width:210px;height:200px;">
                    <h3>Gezmeyi Seviyoruz</h3>
                    <p>Gezmeyi ,görmeyi, yeni yerler keşfetmeyi , doğa - deniz havası almayı seviyoruz. En önemlisi doğayı seviyoruz. Hava koşulları el verdiği sürece gezi aktivitemizi devam ettirmeye çalışıyoruz. Ülkemizde ve Dünya’da gezilecek daha çok yerler var. </p>
                </div>
                <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                    <img src="~/web2/images/yolculuk.jpg" style="width:210px;height:200px;">
                    <h3>Yolculuğu Seviyoruz</h3>
                    <p> Gezilerimizin tartışmasız en eğlenceli kısımları yolculuklarımız. Yürürken, arabayla ,otobüsle veya trenle vesait ne olursa olsun onu eğlenceli hale getirmek bizim elimizde. İnsan yolculuk yaparken bile doğanın güzelliklerini seyretme imkanı buluyor.</p>
                </div>
                <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
                    <img src="~/web2/images/eglenme.png" style="width:210px;height:200px;">
                    <h3>Eğlenmeyi Seviyoruz</h3>
                    <p>Seyahat ve gezilerimizde eğelenebilmek bizim elimizde. On kişi de olsak iki kişi de olsak kişi sayı fark etmeksizin eğlenmeyi başarıyoruz. Sohbet etmek, enstrüman çalmak ,müzik söylemek, dans etmek…Gezileri eğlenceli hale getirmenin bir çok yolu var.</p>
                </div>
                <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16" style="width:217px;">
                    <img src="~/web2/images/yemekyemek.png" style="width:188px;height:200px;">
                    <h3>Yemek Yemeyi Seviyoruz</h3>
                    <p>
                        Gezdiğimiz her yerin kendine göre tatlı, tuzlu ,acılı lezzeti bulunuyor. Bu lezzetleri kendi yörelerinde tatmak ,yemek insana gerçekten çok iyi geliyor. Hem damak kültürümüz gelişiyor hem de daha önce tatmadığımız lezzetleri tatma şansı buluyoruz.
                    </p>
                </div>
            </div>
            <br />
            <br />
        </div>
        <br />
        <div class="footer" style="background-color: #f1f1f1; ">
            <div class="footer_container">
                <div id="kutu">
                    <b style="color: #4f4f4f; ">Site Sayfaları</b>
                    <ul>
                        <li><a style="font-size:15px;" href="/Default/Index/">Ana Sayfa</a></li>
                        <li><a style="font-size:15px;" href="/About/Index/">Hakkımızda</a></li>
                        <li><a style="font-size:15px;" href="/Default/Restaurant/">Rehber</a></li>
                        <li><a style="font-size:15px;" href="/Blog/Index/">Blogum</a></li>
                    </ul>
                </div>
                <div id="kutu" style="margin-left:150px;">
                    <b style="color: #4f4f4f; ">İletişim</b>
                    <ul >
                        <li style="color: #337ab7;"><h5>Ayşenur YAZICI</li>
                        <li style="color: #337ab7;">Tel: 0 324 481 48 01</li>
                        <li style="color: #337ab7;">M: example@gmail.com</li>
                    </ul>
                </div>
                <div id="kutu" style="margin-left:150px;">
                    <b style="color: #4f4f4f; ">Sosyal Medya</b>
                    <br /><br />
                    <a href="#"><img style="width:36px;height:30px;" src="~/web2/images/icon1.png" alt=""></a>

                    <a href="#"><img style="width:36px;height:30px;" src="~/web2/images/ins.png" alt=""></a>
                    <a href="#"><img style="width:36px;height:30px;" src="~/web2/images/icon4.png" alt=""></a>
                    <a href="#"><img style="width:36px;height:30px;" src="~/web2/images/icon2.png" alt=""></a>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
