
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Home :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        <h1 style="color:#ca5656;">Yapılacaklar Önerileri </h1>
                        <br />
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/kamp.jpeg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Kamp</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Mevsim , gece güzdüz  fark etmezsizin , ister kafa dinlemek için ister eğlenmek için yapılabilen muhteşem bir aktivite. Aynı zamanda doğayla iletişim kurmayı da sağlayan bu aktivite ruhunuza müzik kadar etki sağlayabilir.</p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/trekking.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Doğa Yürüyüşü</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;"> Doğayı içinize çekin. Doğanın güzelliklerine her adımınızda şahit olmak, o güzel ,temiz  havayı içinize çekmek size çok iyi gelecek. Bu güzel atmosfeede yürümeye alıştıysanız her yere yürüyerek gitmek isteyeceksinz. </p>
                            </div>
                            <div style="margin-bottom:10px;" class="content-grid-info">
                                <img src="~/web2/images/bisiklet.jpeg" alt="" style="width:730px;height:400px;" />
                                <div class="post-info">
                                    <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Bisiklet Sürmek</p>
                                    <p style="margin-left:-30px;color:#545454;font-size:16px;">Her yere açık havada gitmeye ne dersiniz? Eğer ekipmanınız hazırsa hiçbir engeliniz yok demektir. Arkadaş grubunuzla veya tek başınıza yapacağınız bu aktivite sizlere aksiyon ve eğlence olanağı sunuyor.</p>
                                </div>
                            </div>
                            <div style="margin-bottom:10px;" class="content-grid-info">
                                <img src="~/web2/images/muze.jpg" alt="" style="width:730px;height:400px;" />
                                <div class="post-info">
                                    <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Müze Gezisi</p>
                                    <p style="margin-left:-30px;color:#545454;font-size:16px;">Tarihi yaşanmışlıklara yansıtan müzeleri gezmek. Geçmiş yaşamlara ait bulguların , eserlerin yer aldığı bu değerli yerleri gezmek insanı hem inceleme fırsaı sunuyor hem de düşündürüyor. Böylelikle insaoğlu gezmiş , görmüş ve öğrenmiş oluyor.  </p>
                                </div>
                            </div>
                            <div style="margin-bottom:10px;" class="content-grid-info">
                                <img src="~/web2/images/bursa.jpg" alt="" style="width:730px;height:400px;" />
                                <div class="post-info">
                                    <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Uludağ'da Teleferik Gezisi</p>
                                    <p style="margin-left:-30px;color:#545454;font-size:16px;">Bursa'nın güzelliğine havadan bakmayı deneyin. Karın kağmasıyla birlikte ağaçların üzerini örten beyaz örtünün oluşturduğu bu güzel manzaraya kim eşlik etmek istemez ki?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

