@using TravelTripProje.Models.Sınıflar
@model List<Blog>

<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var x in Model)
        {
            <div class="bot-img">
                <img src="@x.BlogImage" alt="" style="width:150px; height:90px;" />
            </div>
            <div class="bot-desc">
                <p>@x.Aciklama.Substring(0,90)<a href="/Blog/BlogDetay/@x.ID" style="background-color:#A2365A; color:white; padding:3px; font-size:10px; border-radius:3px; margin-left:5px;">Devamını Oku</a></p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("Partial5","Default")
</div>