
@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Home :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid" style="margin-left:20px;">
                        <h1 style="color:#a2365a;">Restaurant-Yemek Önerileri </h1>
                        <br />
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/yemek3.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">İstanbul'da Boğaz Manzarasında Yemek</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Marmara Denizi ile Karadeniz’i birbirine kavuşturan İstanbul Boğazı, Avrupa ile Asya’yı da birbirinden ayırmaktadır. İstanbul’u ziyaret edenlerin ve İstanbul’da yaşayanların her gün defalarca gördüğü İstanbul Boğazı, hem tarihi hem de mimari açıdan oldukça ilgi görmektedir. Deniz ulaşımında önemli bir role sahip olan İstanbul Boğazı, Montrö Boğazlar Antlaşması ile kontrol altına alındı. Boğaz’ın olduğu yakalarda Osmanlı’dan kalma yerleşim yerleri ve yalılar bulunuyor. Bu yerleşim yerleri günümüzde pek çok şekilde kullanılmaktadır. Bazıları restoran ve müze olurken bazıları da eski İstanbullu halk tarafından yaşatılmaya devam ediyor..</p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/fish.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Ege Denizi'nde Balık</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Ege'nin mükemmel ve iştah açıcı havasında mevsim ne olursa olsun yiyiebileceğiniz  sağlılı ve bir o kadar da lezzetli  çeşit çeşit balıkları kesinlikle denemelisiniz.</p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/baklava.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Gaziantep'te Baklava</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">
                                    Orta Doğu ve Balkan ülkelerinde olmak üzere, dünyada bir çok çeşidine rastlamak mümkündür. İncecik yufkaların arasında ceviz, antep fıstığı, badem veya fındık konularak hazırlanır. Özel şerbeti en sıcak haliyle üzerine dökülür ve soğumasının ardından servis edilir. Oda sıcaklığından saklanması tavsiye edilen baklava, kış aylarında hafif ısıtılarak da tüketilebilir. Ustaları tarafından incecik açılan kırk kat yufka ile yapılır. İçerisinde konan malzemeler yöresel ve damak zevkine göre farklılıklar gösterir. Tek başına servis edilebileceği gibi yanında kaymak ya da dondurma da verilebilir. İç malzemesinin bol ve şerbetinin kıvamlı olması kalitesini gösterir.                                    Yaş ve kuru olmak üzere çok çeşitlidir. Fıstıklı, cevizli, kaymaklı, sütlü nuriye, şöbiyet ve sarma ilk akla gelenlerdir. Sadece şerbet eklenerek değil süt ve bal şerbeti ile yapılan türleri de mevcuttur..
                                </p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/yogurt.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Kanlıca Yoğurdu</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Tarihte 93 Harbi olarak bilinen, 1877-1878 Osmanlı – Rus Savaşı sırasında yaşadıkları zulüm neticesinde Anavatan’a göç etmek zorunda kalan, Balkan Türk’lerinin küçük bir kısmı Kanlıca semtini yurt edinmiştir. Bu göçmen aileler kendi geleneklerini de yanında getirmiş ve Kanlıca’da ilk yoğurt üretimi bu kişiler tarafından başlatılmıştır. İlk zamanlarda kendi ürettiğini kendi tüketen topluluk zamanla komşuluk ilişkileri vasıtasıyla Kanlıca’da yaşayan diğer ailelere de ikram eder olmuş. İsmail Hakkı SİPAHİOĞLU kısa zamanda ahbap olduğu Bulgar muhacirlerin ürettiği yoğurdunun lezzetinin yayılması gerektiğini düşünmüş. Bundan sebep kendi kahvehanesinde, bu yoğurdu müşterilerine servis etmeye başlamış. Kanlıca yoğurdunun ilk perakende satışı Kanlıca İsmailağa’nın Kahvehanesinde başlamıştır.İstanbul Boğazı üzerinde yapılan ilk geçit Boğaziçi Köprüsü olarak tarihe yazılmıştır. Boğaziçi Köprüsü’nün ardından Fatih Sultan Mehmet Köprüsü de ulaşımın daha rahat olması için açılmıştır. Vapur gezileri ile turistleri ve gezginleri şenlendiren vapur firmaları, İstanbul Boğazı’nda görsel bir şölen oluşturur. İstanbul’un kalabalığından ve telaşından kaçmak istediğinizde, sizlere Heybeliada ve Büyükada’yı tavsiye edeceğiz. İstanbul Boğazı’nın seyir tadını almak için bu fırsatı kaçırmayın. Ayrıca bu sayfada sizler için hazırlanan İstanbul boğaz manzaralı mekanlar da gezi rotanıza dahil edilmelidir.</p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/tatli.png" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Hafız Mustafa 1864</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">
                                    Hafız Mustafa, Sultan Abdülaziz Han döneminde, Hacı İsmail Hakkı Bey tarafından 1864 yılında İstanbul Bahçekapı'da kuruldu. Akide şekerinin ilk üreticilerinden olan Hacı İsmail Hakkı Bey'in ardından oğlu Hafız Mustafa, şeker ve lokum üretimine devam etti.​Poğaçanın mucidi olarak da bilenen Hafız Mustafa, tatlı ve şekerlemede kısa sürede marka haline geldi. Ünü giderek artan Hafız Mustafa'nın ardından oğlu Cemil Bey de aile geleneğini sürdürdü. Cemil Bey, şekerleme ve lokumun yanına "Çikolat Cemil" adıyla çikolatayı da ekledi. Bugün 157 yaşında olan firmanın 1,5 asırlık tarifleri ve dekorasyonu da hiç bozulmadı. Hafız Mustafa firması, 14 yıl önce Ongurlar Ailesi tarafından devralındı. Tarihi mirasa sadık kalan firma, ürünlerini eski tariflerle göre üretmeyi sürdürürken bir yandan da yeni tatlar keşfediyor. 50 çeşit lokum ile 500 çeşit tatlı üretimi yapan firmanın biri yurt dışında olmak üzere 14 şubesi bulunuyor. Glukoz yerine şeker pancarının, gıda boyası yerine doğal kök boyasının, doğal meyve özlerinin ve zemzem suyunun kullanıldığı lokum ve tatlılar, en geç 72 saatte dünyanın pek çok ülkesine ihraç ediliyor.
                                </p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/muhlama.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Muhlama</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Kuymak; mısır unu, tereyağı ve genellikle “Minci” adı verilen tuzlu çökelek (bazı yörelerde telli peynir veya su peyniri) ile yapılan, hem kahvaltı, hem de öğle ve akşam yemeği olabilen oldukça lezzetli, özellikle Karadeniz bölgesinde tüketilen bir yemek türüdür. Kuymak, yapımında kullanılan özel peynirin fazla tellenmesi nedeniyle, yemesi de maharet isteyen ilginç bir yemektir. Bu yöresel yemek, “Muhlama” veya “Mıhlama” isimleri ile de bilinmektedir. Kuymak, Samsun'dan Artvin'e kadar olan geniş bölgede bilinmekte; Gürcistan, Dağıstan ve Kafkasya'nın bazı bölgelerinde de yapılmaktadır. Kuymak, Türkçe bir kelime olup, Anadolu'nun başka yörelerinde peynir kullanılmadan hazırlanan arpa ve buğday lapalarını tanımlamak için kullanılmaktadır. "Çürük kuymak” olarak da adlandırılmaktadır. Yemeğe peynirin konması aşamasına "peyniri çürütmek" de denmektedir. Trabzon, Erzurum, Gümüşhane, Bayburt, Ardahan ve Artvin'in iç kesimlerinde “Kuymak”; Ordu, Giresun ve Trabzon’da “Yağlaş” (yağlı aş); Rize ve Artvin sahilinde “Muhlama”; Trabzon'un Rumca konuşulan köylerinde ve Çamlıhemşin'de “Havits” adlarıyla da bilinmektedir. Tereyağı yerine kaymak kullanılarak hazırlanırsa Trabzon'da “Yayla Kuymağı” Rize'de “Höşmerim” olarak adlandırılmaktadır. Mısır unu yerine bayat mısır ekmeğinin ufalanarak kullanılması durumunda ise yöresel ağızlara göre “Cumur”, “Çumur” ya da “Zumur” olarak adlandırılmaktadır. Nesilden nesile değişik isimlerle aktarılarak günümüze kadar gelebilmiş ve günümüz sofralarında beğeniyle tüketilen kuymak gelecek nesillerde de miras olarak bırakılmalıdır.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





