
@{
    ViewBag.Title = "Transportation";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Home :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        <h1 style="color:#ca5656;">Ulaşım Önerileri </h1>
                        <br />
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/car.jpeg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Araba</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Seyahate kendi arabanızla çıkmak çok iyi bir fikir.Tabii her yere arabayla gidilemiyor. Ama gezi yapacağınız yere kadar sizi ulaştırması yeterli zaten.</p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/ucak.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Uçak </p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Uzun yolculukların vazgeçilmezi tabii ki uçak. Yolculuk yapmayı sevenlerin aynı zamanda zamandan tasarruf sağlamak ve daha çok gezebilmek için tercih edebileceği ulaşım aracı. </p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/bus.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Otobüs</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Kalabalık grup gezileriniin tercihi otobüs. Yol üstünde bile gezilip ziyaret edilebilecek güzergahlara sahip olan otobüslerle yolculuklar çok eğlencelidir. </p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/tren.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Tren</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Bir başkadır tren yolculuğu! Hele mevsimlerden kış ise. Bir de dışarıda lapa kapa kar yağıyorsa…Eh trenler genelde aşırı sıcak olur. Bu sıcaklığa keskin bir kahve kokusu da eklenirse hava daha da yumuşar.Tadına doyulmaz bir seyahat başlamış demektir.</p>
                            </div>
                        </div>
                        <div style="margin-bottom:10px;" class="content-grid-info">
                            <img src="~/web2/images/tekne.jpg" alt="" style="width:730px;height:400px;" />
                            <div class="post-info">
                                <p style="color:#ca5656; font-size:20px; margin-left:-30px; font-weight:bold">Tekne</p>
                                <p style="margin-left:-30px;color:#545454;font-size:16px;">Mavi suların gezi aracı tekneler. Denizin üstünde süzülerek yolculuk ve gezi imkanı sunar. Eğer deniz koşulları ve hava durumu elverişli kesinlikle kullanılmasını tavsiye ettiğim bir araç.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



